* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    height: 60px;
    padding: 0 190px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

.link {
    text-decoration: none;
}

main {
    flex: 1;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    height: 300px;
    padding: 100px 190px;
    gap: 50px;
}

.title {
    font-size: 48px;
    font-weight: 1800;
    color: #f9faf8;
}

.sub-title {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 40px;
    margin: 10px 0;

}

.home-img {
    width: 500px;
}

.section-2 {
    height: 300px;
}

.section-3 {
    background-color: #e5e7eb;
    height: 300px;
}

.section-4 {
    height: 300px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}